:root {
    --clr-light-100: hsl(180, 100%, 100%);
    --clr-light-150: hsl(39, 41%, 74%);
    --clr-accent-300: hsl(347, 90%, 63%);
    --clr-accent-350: hsl(347, 60%, 40%);
    --clr-neutral-400: hsl(0, 0%, 54%);
    --clr-neutral-500: hsl(240, 59%, 55%);
    --clr-dark-700: hsl(240, 55%, 41%);
    --clr-dark-800: hsl(239, 57%, 33%);
    --clr-dark-900: hsl(240, 59%, 25%);
}