:root {
    --clr-light-100: hsl(180, 100%, 100%);
    --clr-light-150: hsl(39, 41%, 74%);
    --clr-accent-300: hsl(347, 90%, 63%);
    --clr-accent-350: hsl(347, 60%, 40%);
    --clr-neutral-400: hsl(0, 0%, 54%);
    --clr-neutral-500: hsl(240, 59%, 55%);
    --clr-dark-700: hsl(240, 55%, 41%);
    --clr-dark-800: hsl(239, 57%, 33%);
    --clr-dark-900: hsl(240, 59%, 25%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*------------------------------------------------- RESOURCE CARDS ------------------------------------------------*/


.resources {
    display: grid;
    gap: 1em;
    margin-bottom: 1em;
    grid-auto-rows: 1fr;
}

.card:nth-child(odd){
    color: var(--clr-light-150);
}

.card {
    position: relative;
    font-size: 1.75rem;
    font-family: sans-serif;
    background-color: var(--clr-dark-900);
    border: 2px solid var(--clr-dark-700);
    border-radius: 1.75rem;

    max-width: 25rem;
    max-height: 27.5rem;
    
    overflow: hidden;
    isolation: isolate;
    justify-self: center;
    transition: all 250ms ease;
}

.card::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 40%;
    width: 80%;
    height: 4px;
    background-color: var(--clr-accent-300);
    z-index: -1;
}

.card :is(p, h1, a) {
    padding: 1.35rem;
}

.card h1
{
    max-width: 11ch;
    min-height: 187.19px;
}

.cover p {
    --max-lines: 6;
    display: -webkit-box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: var(--max-lines);
    overflow: hidden;
    max-height: calc(1.3em * var(--max-lines));
}

.card:hover .cover p {
    display: block;
    text-overflow: unset;
    max-height: unset;
}

.cover {
    position: relative;
    background: linear-gradient(var(--clr-dark-900), 20%, black);
    opacity: .5;
    height: 100%;
    z-index: 25;
    transition: all 250ms ease !important;
}

.card:hover .cover {
    background: linear-gradient(var(--clr-dark-900), 30%, black);
    transform: translateY(-43%);
    transition: all 250ms ease;
    overflow-y: auto;
    opacity: .9;
}

.card:hover {
    will-change: transform;
    transform: scale(1.02);
    box-shadow: 0 20px 25px hsla(0, 0%, 0%, 0.432);
    transition: all 250ms ease !important;
}

.cover a {
    display: inline-block;
    margin: 4rem auto 1rem auto;
    opacity: 1 !important;
    color: var(--clr-accent-300);
}


@media (min-width: 450px) {
    
    .card::after {
        visibility: hidden;
    }

    .card p {
        --max-lines: 5;
        font-size: 2rem;
    }

    .cover {
        transform: translateY(10%);
    }

    .card:hover .cover {
        transform: translateY(-42%);
    }


}

@media (max-width: 712px) {
    .card {
        max-width: 27.625rem;
        margin: 0 auto;
    }

    .card h1
    {
        max-width: unset;
    }
}

@media(min-width: 713px){
    .resources
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .card::after
    {
        visibility:visible;
    }

    .cover
    {
        transform: translateY(5%);
    }
    
    .card:hover .cover
    {
        transform: translateY(-42%);
    }

    .card:hover { 
        transform: scale(1.05);
    }

}

@media (min-width: 1200px) {
    .resources {
        grid-template-columns: repeat(3, 1fr);
    }
}