:root {
    --clr-light-100: hsl(180, 100%, 100%);
    --clr-light-150: hsl(39, 41%, 74%);
    --clr-accent-300: hsl(347, 90%, 63%);
    --clr-accent-350: hsl(347, 60%, 40%);
    --clr-neutral-400: hsl(0, 0%, 54%);
    --clr-neutral-500: hsl(240, 59%, 55%);
    --clr-dark-700: hsl(240, 55%, 41%);
    --clr-dark-800: hsl(239, 57%, 33%);
    --clr-dark-900: hsl(240, 59%, 25%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--clr-dark-800);
}

:is(body, .cover)::-webkit-scrollbar
{
    width: 12px;
    background-color: var(--clr-dark-900);
}

:is(body, .cover)::-webkit-scrollbar-thumb
{
    background-color: var(--clr-neutral-500);
    border-radius: 10px;
}

:is(body, .cover)::-webkit-scrollbar-thumb:hover
{
    background-color: var(--clr-dark-700);
}

html {
    scroll-behavior: smooth;
}



/*-------------------------------------------- UTILITY CLASSES ------------------------------------------*/

.middle {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.info {
    font-size: 2.5rem;
    color: var(--clr-neutral-400);
    scroll-margin-top: 3rem;
    margin-bottom: 10rem;
}


/*custom variable calc root margin for cards
UPDATE: FIX NTH CHILD SO CAN BE RESPONSIVE AND FLEXIBLE ACROSS ALL PAGES*/


.fade-in-up {
    opacity: 0;
    transform: translateY(2rem);
    transition: calc(min(var(--order, 4), 5.5) * 100ms) ease-in;
}

.fade-in-up.appear {
    opacity: 1;
    transform: translateY(-1rem);
}

/*----------------------------------------------- HEADER ------------------------------------------------*/

.header * {
    text-transform: uppercase;
    color: var(--clr-light-100);
    font-size: min(5rem, 10vh);
    margin-top: min(2vh + 1%, 2rem);
}

.header p {
    color: var(--clr-neutral-400);
    font-size: 2rem !important;
    text-transform: none !important;
}

.header-button {
    margin-top: 0px;
    margin-left: 0px;
}

.learn-more {
    width: 170px;
    font-size: 1rem;
    background-color: var(--clr-accent-300);
    border-radius: 10px;
    border: none;
    padding: 1em;
    position: relative;
    cursor: pointer;
}

.learn-more a {
    all: unset;
}

.header-img {
    display: none;
}



/* vmin font size*/

/*------------------------------------------------- INFO ------------------------------------------------*/

.about-section {
    margin-top: 357px;
}

.info h1:not(.card h1)
{
    text-align: center;
    margin-bottom: 4rem;
    color: var(--clr-light-150);
    font-size: 1.5em;
}

/*------------------------------------------------ FOOTER ------------------------------------------------*/

.footer {
    
    background-color: var(--clr-dark-700);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    padding: 1.5rem 0;
    bottom: 0;
    right: 0;
    display: block;
}


.footer h1 {
    color: var(--clr-light-100);
    font-size: 2rem;
}

.footer h6 {
    color: var(--clr-light-150);
    font-size: 1rem;
}

.contact-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
}

.contact-footer::before {
    content: '';
    position: absolute;
    width: 55%;
    height: 3px;
    background-color: var(--clr-neutral-400);
    top: -2rem;
}

.contact-item *, .contact-item:visited * {
    color: var(--clr-accent-350);
    font-size: 3rem;
}

.contact-item *:focus, .contact-item *:hover {
    outline: none;
    color: var(--clr-accent-300);
}


/*------------------------------------------ MEDIA QUERIES --------------------------------------------*/


@media (max-width: 992px) {
    .header {
        text-align: center;
    }

    .info p:not(.card p) {
        text-align: center;
    }
}


@media (min-width: 450px) {

    .header {
        margin-top: min(80px, 11vw);
        max-width: none;
        text-align: center;
    }

    .info, .header, .navbar {
        width: unset;
    }
}

@media (min-width: 992px) {

    .header * {
        max-width: 309px;
    }

    .header {
        margin-top: 0px;
        position: relative;
        text-align: left;
    }

    .navbar, .info, .header {
        width: 970px;
    }

    .learn-more::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: .5px solid var(--clr-light-100);
        border-radius: 10px;
        top: 10px;
        left: 10px;
        z-index: -1;
    }

    .header-img, .header-img img {
        width: 350px;
        margin-top: 0px;
        max-width: none;
    }

    .header-img {
        display: block;
        position: absolute;
        right: 50px;
        top: 0px;
    }

    .info p:not(.card p) {
        text-align: left;
    }
}

@media (min-width: 1200px) {

    .header {
        margin-top: 100px;
    }

    .header h1 {
        max-width: 700px;
    }

    .navbar, .header, .info {
        width: 1170px;
    }
}